<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home.css">
    <title>Shop</title>
</head>
<body>
   <div class="shop-nav">
       <h3>Shop</h3>
       <ul class="transition-bar">
           <li class="home">Home</li>
           <li class="about">About</li>
           <li class="cart">Cart</li>
       </ul>
   </div>
   <div class="shop-pro">
       <div class="product">
           <div class="add-cart">
               <p>Product a</p>
               <p>Price: 15$</p>
               <a href="#">Add Cart</a>
           </div>
       </div>
       <div class="product">
        <div class="add-cart">
            <p>Product a</p>
            <p>Price: 15$</p>
        </div>
    </div>
    <div class="product">
        <div class="add-cart">
            <p>Product a</p>
            <p>Price: 15$</p>
        </div>
    </div>
    <div class="product">
        <div class="add-cart">
            <p>Product a</p>
            <p>Price: 15$</p>
        </div>
    </div>
   </> 
</body>
</html>